{% extends 'parent/base.html' %}
{% load static %}
{% block title %}product datail{% endblock %}

{% block content %}
    {{ product.name }}
    <br>
    <img  style="height: 400px;width: auto;" src="{{ product.images.first.image.url }}">
    <h2>:ویژگی ها</h2>
    <ul>
        {% for feature in product.features.all %}
            <li>{{ feature }}</li>
        {% endfor %}
    </ul>
    <h3>توضیحات:</h3>
    {{ product.description }}
    <h5>موجودی:{{ product.inventory }}</h5>
    <br>
    <div>{{ product.new_price }} :قیمت</div>
    <br>
    <button type="button" class="add-cart" id="add-cart">
        <h4>افزودن به سبد خرید</h4>
    </button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){
            $('#add-cart').click(function(){
                var button = $(this);
                $.ajax({
                   type: 'POST',
                   url: '{% url 'cart:add_to_cart' product.id %}',
                   data:{
                       'csrfmiddlewaretoken':'{{ csrf_token }}',
                   },
                   success: function(data) {
                       $('#item_count').text(data.item_count);
                       $('#total_price').text(data.total_price);
                    }
                });
            });
        });
    </script>


{% endblock %}